<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Not Churn</title>
</head>
<body style="background-image: url(https://previews.123rf.com/images/vectorscreator/vectorscreator1904/vectorscreator190400030/121499551-the-queue-at-the-atm-from-cartoon-people-making-payments-and-withdrawing-money-and-make-other.jpg);
background-repeat: no-repeat;
background-position: top;
background-size: 900px 400px;">
<h1 style="font-style: italic;font-weight: bold;text-align: center;">Customer Not Churn</h1>
    
</body>
</html>